{% extends layout_path %}

{% load static %}
{% load i18n %}

{% block title %}Help Center Landing - Front Pages{% endblock %}

{% block page_css %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'vendor/css/pages/page-faq.css' %}" />
<link rel="stylesheet" href="{% static 'vendor/css/pages/front-page-help-center.css' %}" />
{% endblock page_css %}

{% block content %}
<div class="faq-header d-flex flex-column justify-content-center align-items-center h-px-300 position-relative overflow-hidden rounded-3">
  <img src="{% static 'img/pages/header-' %}{{ COOKIES.style|default:style }}.png" class="scaleX-n1-rtl faq-banner-img h-px-300 z-n1" alt="background image" data-app-light-img="pages/header-light.png" data-app-dark-img="pages/header-dark.png" />
  <h4 class="text-center text-primary mb-2"> Hello, how can we help? </h4>
  <p class="text-body text-center mb-0 px-4">or choose a category to quickly find the help you need</p>
  <div class="input-wrapper my-6 input-group input-group-merge px-sm-5">
    <span class="input-group-text" id="basic-addon1"><i class="ri-search-line"></i></span>
    <input type="text" class="form-control" placeholder="Ask a question...." aria-label="Search" aria-describedby="basic-addon1" />
  </div>
</div>
<!-- Help Center Header: End -->

<!-- Knowledge Base: Start -->
<section class="section-py pt-4 bg-body">
  <div class="container">
    <h4 class="text-center mb-6">Subsidios</h4>
    <div class="row">
      {% if subsidios %}
      <div class="col-md-4 col-ms-6 mb-6">
        <div class="card">
          <div class="card-body">
              <p class="mb-0">Total 2 users</p>
          </div>
        </div>
      </div>
      {% endif %}

      <div class="col-md-4 col-ms-6 mb-6">
        <div class="card">
          <div class="card-body">
            
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Knowledge Base: End -->

{% endblock %}
