{% extends layout_path %}

{% block title %} Subsidios - Lista {% endblock title %}

{% block page_css %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'vendor/css/pages/page-home.css' %}" />
{% endblock page_css %}

{% block page_js %}
{{ block.super }}
<script src="{% static 'js/page-home.js' %}"></script>
{% endblock page_js %}

{% block content %}
<section class="section-py first-section-pt">
    <div class="container">
        <h2 class="text-center mb-2">Lista de subsidios</h2>

        <p class="text-center text-muted px-sm-12 mb-3 py-5 mb-md-4">
            <span>En esta lista se mostraran los subsidios disponibles.</span>
            <br>Elige uno para revisar si eres apto para postular a este subsidio
        </p>


        <!-- FILA 1 -->
        <div class="pricing-plans row mx-0 gap-6 d-flex justify-content-center">
            <!-- DS49 TODO: Despues cambiar por un for-->
            <div class="col-lg mb-md-0 mb-6 px-0">
                <div class="card border-primary border shadow-none">
                    <div class="card-body pt-12">
                        <div class="mt-3 mb-5 text-center">
                            <img src="{% static 'img/illustrations/pricing-basic.png' %}" alt="Basic Image"
                                height="100">
                        </div>
                        <h4 class="card-title text-center text-capitalize mb-1 text-primary">Subsidio DS49</h4>
                        <h5 class="text-center">Requisitos</h5>
                        <ul class="list-group ps-6 my-5 pt-2">
                            <li class="mb-2">requisito 1</li>
                            <li class="mb-2">requisito 2</li>
                            <li class="mb-0">requisito 3</li>
                        </ul>
                        <a href="#" class="btn btn-primary d-grid w-100">Simular</a>
                    </div>
                </div>
            </div>

            <!-- DS1 Tramo 1 -->
            <div class="col-lg mb-md-0 mb-6 px-0">
                <div class="card border-primary border shadow-none">
                    <div class="card-body pt-12">
                        <div class="mt-3 mb-5 text-center">
                            <img src="{% static 'img/illustrations/pricing-basic.png' %}" alt="Basic Image"
                                height="100">
                        </div>
                        <h4 class="card-title text-center text-capitalize mb-1 text-primary">Subsidio DS1</h4>
                        <p class="text-center mb-2">Tramo 1</p>
                        <h5 class="text-center pt-1">Requisitos</h5>

                        <ul class="list-group ps-6 my-5 pt-2">
                            <li class="mb-2">requisito 1</li>
                            <li class="mb-2">requisito 2</li>
                            <li class="mb-0">requisito 3</li>
                        </ul>
                        <a href="#" class="btn btn-primary d-grid w-100">Simular</a>
                    </div>
                </div>
            </div>

            <!-- DS1 Tramo 2 -->
            <div class="col-lg mb-md-0 mb-6 px-0">
                <div class="card border-primary border shadow-none">
                    <div class="card-body pt-12">
                        <div class="mt-3 mb-5 text-center">
                            <img src="{% static 'img/illustrations/pricing-basic.png' %}" alt="Basic Image"
                                height="100">
                        </div>
                        <h4 class="card-title text-center text-capitalize mb-1 text-primary">Subsidio DS1</h4>
                        <p class="text-center mb-2">Tramo 2</p>
                        <h5 class="text-center pt-1">Requisitos</h5>

                        <ul class="list-group ps-6 my-5 pt-2">
                            <li class="mb-2">requisito 1</li>
                            <li class="mb-2">requisito 2</li>
                            <li class="mb-0">requisito 3</li>
                        </ul>
                        <a href="#" class="btn btn-primary d-grid w-100">Simular</a>
                    </div>
                </div>
            </div>
        </div>

        <!-- FILA 2 -->
        <div class="pricing-plans row mx-0 gap-6 d-flex justify-content-center">
            <!-- DS1 Tramo 3 -->
            <div class="col-lg mb-md-0 mb-6 px-0">
                <div class="card border-primary border shadow-none">
                    <div class="card-body pt-12">
                        <div class="mt-3 mb-5 text-center">
                            <img src="{% static 'img/illustrations/pricing-basic.png' %}" alt="Basic Image"
                                height="100">
                        </div>
                        <h4 class="card-title text-center text-capitalize mb-1 text-primary">Subsidio DS1</h4>
                        <p class="text-center mb-2">Tramo 3</p>
                        <h5 class="text-center pt-1">Requisitos</h5>

                        <ul class="list-group ps-6 my-5 pt-2">
                            <li class="mb-2">requisito 1</li>
                            <li class="mb-2">requisito 2</li>
                            <li class="mb-0">requisito 3</li>
                        </ul>
                        <a href="#" class="btn btn-primary d-grid w-100">Simular</a>
                    </div>
                </div>
            </div>

            <!-- DS19 -->
            <div class="col-lg mb-md-0 mb-6 px-0">
                <div class="card border-primary border shadow-none">
                    <div class="card-body pt-12">
                        <div class="mt-3 mb-5 text-center">
                            <img src="{% static 'img/illustrations/pricing-basic.png' %}" alt="Basic Image"
                                height="100">
                        </div>
                        <h4 class="card-title text-center text-capitalize mb-1 text-primary">Subsidio DS49</h4>
                        <h5 class="text-center">Requisitos</h5>
                        <ul class="list-group ps-6 my-5 pt-2">
                            <li class="mb-2">requisito 1</li>
                            <li class="mb-2">requisito 2</li>
                            <li class="mb-0">requisito 3</li>
                        </ul>
                        <a href="#" class="btn btn-primary d-grid w-100">Simular</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock content %}