{% extends layout_path %}

{% load static %}
{% load i18n %}

{% block title %}Tables - Basic Tables{% endblock %}

{% block vendor_css %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'vendor/libs/datatables-bs5/datatables.bootstrap5.css' %}" />
<link rel="stylesheet" href="{% static 'vendor/libs/datatables-responsive-bs5/responsive.bootstrap5.css' %}" />
<link rel="stylesheet" href="{% static 'vendor/libs/datatables-buttons-bs5/buttons.bootstrap5.css' %}" />
<link rel="stylesheet" href="{% static 'vendor/libs/@form-validation/form-validation.css' %}" />
{% endblock vendor_css %}

{% block vendor_js %}
{{ block.super }}
<script src="{% static 'vendor/libs/datatables-bs5/datatables-bootstrap5.js' %}"></script>
<script src="{% static 'vendor/libs/@form-validation/popular.js' %}"></script>
<script src="{% static 'vendor/libs/@form-validation/bootstrap5.js' %}"></script>
<script src="{% static 'vendor/libs/@form-validation/auto-focus.js' %}"></script>
{% endblock vendor_js %}

{% block page_js %}
{{ block.super }}
<script src="{% static 'js/new/app-access-permission-add-update.js' %}"></script>
<script src="{% static 'js/new/modal-add-permission.js' %}"></script>
<script src="{% static 'js/new/modal-edit-permission.js' %}"></script>
{% endblock page_js %}


{% block content %}
<!-- Basic Bootstrap Table -->
<div class="card p-6">
  
  <div class="card-datatable table-responsive">
    <div class="card-header pb-1">
      <h5 class="card-title">Modelo - {{id_permiso.model}}</h5>
      <p class="card-subtitle"><strong>Aplicación:</strong> <code>{{ id_permiso.app_label }}</code></p>
    </div>
    <table class="datatables-permisos table">
      <thead>
        <tr>
          <th></th>  <!-- PARA RESPONSIVO -->
          <th>Permiso</th>
          <th>Descripcion</th>
          <th>Grupos asociados</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody class="table-border-bottom-0">
        {% for permiso in id_permiso.permisos %}
        <tr>
          <td></td>
          <td><code>{{ permiso.codename }}</code></td>
          <td>{{ permiso.name }}</td>
          <td>
            {% if permiso.grupos %}
              {% for grupo in permiso.grupos %}
              <a href="{% url 'roles-update' grupo.id %}">
                <span class="badge rounded-pill bg-label-primary me-4">{{ grupo.name }}</span>
              </a>
              {% endfor %}
            {% else %}
              <span class="text-muted">Ninguno</span>
            {% endif %}
          </td>

          <td>
            <div class="d-flex align-items-center">
              <a href="{% url 'permisos-delete' permiso.id %}" class="btn alert-danger btn-sm btn-icon btn-text-secondary rounded-pill delete-record waves-effect waves-light me-1">
                <i class="ri-delete-bin-7-line ri-22px"></i>
              </a>
            </div>
          </td>
        </tr>
        {% endfor %}
        
      </tbody>
    </table>
  </div>
</div>
<!--/ Basic Bootstrap Table -->








{% endblock %}
